html {
  height: 100%;
  body {
    height: 100%;
    #root {
      height: 100%;
      }
    }
  }

.separator {
  &.hide {
      &:before {
        display: none;
      }
      &:after {
        display: none;
      }
}
  &.top {
    &.hover {
      &:before {
      content: ' ';
      width: 300px;
      height: 10px;
      background: #58e6ec;
      position: absolute;
      top: -5px;
      left: 40%;
      border-radius: 10px;
        z-index: 1;
     }
    }
  }
  &.bottom {
    &.hover {
      &:after {
        content: ' ';
        width: 300px;
        height: 10px;
        background: #58e6ec;
        position: absolute;
        bottom: -5px;
        left: 40%;
        border-radius: 10px;
        z-index: 1;
      }
    }
  }
}